A:ACTIVE {
	FONT-FAMILY : 굴림체, SEOUL, VERDANA, HELVETICA;
	FONT-SIZE : 9PT;
	COLOR : #FF0000;
	TEXT-DECORATION : NONE;
}

A:VISITED {
	FONT-FAMILY : 굴림체, SEOUL, VERDANA, HELVETICA;
	FONT-SIZE : 9PT;
	COLOR : #3366CC;
	TEXT-DECORATION : NONE;
}

A:HOVER {
	FONT-FAMILY : 굴림체, SEOUL, VERDANA, HELVETICA;
	FONT-SIZE : 9PT;
	COLOR : #000066;
	TEXT-DECORATION : NONE;
}

A:LINK {
	FONT-FAMILY : 굴림체, SEOUL, VERDANA, HELVETICA;
	FONT-SIZE : 9PT;
	COLOR : #3366CC;
	TEXT-DECORATION : NONE;
}

INPUT,FORM{  FONT-SIZE: 9PT; COLOR: #333333;  FONT-FAMILY: 굴림체, SEOUL, VERDANA, HELVETICA; LINE-HEIGHT: 10PT}

TD {
	FONT-SIZE: 9PT; COLOR: #000066;  
	FONT-FAMILY: 굴림체, SEOUL, VERDANA, HELVETICA;
	LINE-HEIGHT: NORMAL
}

TH {
    	FONT-WEIGHT: BOLD;
	FONT-SIZE: 9PT; COLOR: #333333;  
	FONT-FAMILY: 굴림체, SEOUL, VERDANA, HELVETICA;
	LINE-HEIGHT: NORMAL
}

TEXTAREA {  
	FONT-FAMILY: 굴림체; FONT-SIZE: 9PT; LINE-HEIGHT: 14PT
}

.TEXT {  FONT-FAMILY: 굴림체, SEOUL, VERDANA, HELVETICA; FONT-SIZE: 9PT; COLOR: #333333; LINE-HEIGHT: 14PT}

H4 {
    FONT-FAMILY : 굴림체, SEOUL, VERDANA, HELVETICA;
}

H5 {
    FONT-FAMILY : 굴림체, SEOUL, VERDANA, HELVETICA;
}

.borderimage{
border:1px solid white;
    CURSOR: HAND;
}

BODY {
    FONT-SIZE: 9PT;
    FONT-FAMILY : 굴림체, SEOUL, VERDANA, HELVETICA;
}
